
// Import necessary bootstrap files for customization
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// Declare all our colors here
// Primaries
$primary: hsl(180, 66%, 49%);
$dv: hsl(257, 27%, 26%);
// Secondary
$secondary: hsl(0, 87%, 67%);
// Neutrals
$gv: hsl(257, 7%, 63%);
$vdb: hsl(255, 11%, 22%);
$vdv: hsl(260, 8%, 14%);


$custom-colors: (
    "primary": $primary,
    "pd": $dv
);  

$theme-colors: map-merge($map1: $custom-colors, $map2: $theme-colors);


@import "bootstrap/scss/bootstrap";
